@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Didact+Gothic&family=Righteous&family=Roboto:ital@1&family=Sarala&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Didact Gothic', sans-serif;
    
}

.supercabecallo {
    background-image: url('images/carrosenfileirados.jpg');
    height: 700px;
    background-repeat: no-repeat;
    
    background-position: center center;
    background-size:cover;
    position: relative;
}
article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header {
    display: flex;
    flex-direction: column;
}

header .horarios {
    display: flex;
    background-color: #006DDF;
    padding: 8px;
    color: white;
    
}

.horarios p {
    align-items: center;
    margin: auto;
    
}

.logo {
    font-size: 2em;
    font-weight: bold;
    
}

.cabecallo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 1.3em;
    padding: 15px;
    font-weight: 500;
    gap: 50px;
}

.cabecallo a {
    color: white;
    text-shadow: 2px 2px 5px black;
    justify-content: space-between;
}

.cabecallo nav a {
    padding: 18px;
}

button {
    height: 30px;
    width: 110px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #67a7eb;
    border: 1px solid;
    font-weight: 500;
    font-size: .8em;
    font-family: 'Didact Gothic', sans-serif;;
}

button:hover {
    background: #00285f60;
    color: white;
}

.sub-cabecallo {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 120px;
    gap: 30px;
    
      
}

input {
    height: 50px;
    width: 800px;
    border-radius: 5px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 1em;

}

.sub-cabecallo h1 {
    font-size: 3em;
    font-weight: bolder;
    background-color: rgba(128, 128, 128, 0.815);
    padding: 5px;
    color:white;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    text-shadow: 3px 3px 10px black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.603);
}

.sub-cabecallo > p {
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    background-color: rgba(128, 128, 128, 0.815);
    border-radius: 10px;
    text-shadow: 3px 3px 10px black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.603);
}

.sub-cabecallo .buttons {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.sub-cabecallo .buttons .vender:hover {
    background-color: #3083db;
}

.sub-cabecallo .buttons .comprar:hover {
    background-color: rgb(221, 182, 56);
}

.sub-cabecallo .buttons .comprar {
    height: 40px;
    width: 200px;
    background-color: rgb(255, 196, 0);
    color: white;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.158);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.603);
}

.sub-cabecallo .buttons .vender {
    height: 40px;
    width: 200px;
    background-color: #006DDF;
    color: white;
    border: none;
    font-size: 1.1em;
    font-weight: 500;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.158);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.603);
}

.sub-cabecallo .selos {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    
}

.sub-cabecallo .selos .precio {
    display: flex;
    align-items: center;
    background-color: white;
    padding-left: 25px;
    margin: 10px;
    height: 80px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(197, 200, 243, 0.603);;
    
}

.sub-cabecallo .selos .precio img{
    height: 50px;
}


.sub-cabecallo .selos .precio p {
    padding: 20px;
    
}

.sub-cabecallo .selos .garanticia {
    display: flex;
    align-items: center;
    background-color: white;
    padding-left: 25px;
    margin: 10px;
    height: 80px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(197, 200, 243, 0.603);
}

.sub-cabecallo .selos .garanticia img{
    height: 50px;
    padding-right: 20px;
}

.sub-cabecallo .selos .entrega {
    display: flex;
    align-items: center;
    padding-left: 25px;
    background-color: white;
    margin: 10px;
    height: 80px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(197, 200, 243, 0.603);
}

.sub-cabecallo .selos .entrega img{
    height: 50px;
    padding-right: 20px;
}

.pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 75px;    
}

.pesquisa > h3 {
    font-size: 2em;
    font-weight: 300;
}

.pesquisa > p {
    font-size: 1.1em;
    font-weight: 300;
}

.pesquisa .items-pesquisa {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
}



.pesquisa .items-pesquisa .linha1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.pesquisa .items-pesquisa .linha1 .SUV-4x4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa .items-pesquisa .linha1 .SUV-4x4:hover {
    cursor: pointer;
}

.pesquisa .items-pesquisa .linha1 .compacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa .items-pesquisa .linha1 .compacto:hover {
    cursor: pointer;
}

.pesquisa .items-pesquisa .linha1 .berlina{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa .items-pesquisa .linha1 .berlina:hover {
    cursor: pointer;
}

.pesquisa .items-pesquisa .linha1 .furgoneta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa .items-pesquisa .linha1 .furgoneta:hover {
    cursor: pointer;
}

.pesquisa .items-pesquisa .linha2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.pesquisa .items-pesquisa .linha2 .monovolumen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa .items-pesquisa .linha2 .monovolumen:hover {
    cursor: pointer;
}

.pesquisa .items-pesquisa .linha2 .familiar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa .items-pesquisa .linha2 .familiar:hover {
    cursor: pointer;
}

.pesquisa .items-pesquisa .linha2 .coupe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa .items-pesquisa .linha2 .coupe:hover {
    cursor: pointer;
}

.pesquisa .items-pesquisa .linha2 .cabrio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pesquisa .items-pesquisa .linha2 .cabrio:hover {
    cursor: pointer;
}

.banner-family > img {
    display: flex;
    margin: auto;
    justify-content: center;
}

.ventajas {
    display: flex;
    flex-direction: column;
}

.ventajas .precio > img {
    height: 100px;
}

.ventajas revisiones > img {
    height: 100px;
}

.ventajas .prueba > img {
    height: 100px;
}

.ventajas .finan > img {
    height: 100px;
}

.ventajas .ventajas-banners{
    display: flex;
}

.ventajas .ventajas-banners .precio {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
}